body, p {
	margin: 0;
}

#first-image {
	background-image: url("parallax-1.jpg");
}

#black-block {
	background-color: black;	
	height: 200px;			
}

#second-image {
	background-image: url("parallax-2.jpg");
}

div {
	display: flex;
	align-items : center;
	justify-content: center;
}

.parallax {
	height: 100vh;			
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

p {		
	color: white;
}